/*This is the CSS page for our Contact page*/

/*Naviagtion Bar*/
 ul {
       padding: 10px;
       background: rgba(255,0,0,0.5);
       text-align: right;
    }
    li {
       display: inline;
       padding: 0px 10px 0px 10px;
    }

 /*Body contents*/

 body{
 	background-color: whitle;
 	text-align: center;
 	font-family: "Gloria Hallelujah"
 	text-size: 36px;
 }

 /* Form style needs to be developed for better UX */
 
