/* This is the CSS page for our Landing Page page*/

/*Naviagtion Bar*/
 ul {
 	   padding: 10px;
       background: rgba(0,0,100,1);
       text-align: right;
       font-family: 'Gloria Hallelujah', cursive;
       font-size: 20px;
    }
    li {
       display: inline;
       padding: 0px 10px 0px 10px;
    }    

body {
	background-color: white;
}    
h1 {
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
	line-height:0;
	font-size: 50px;
}

.landing-page-central-image {
	text-align: center;
	margin: 0 auto;
	padding:0;
}


/*Train CSS*/
.scroll-left {
 height: 60px;	
 overflow: hidden;
 position: relative;
}
.scroll-left .inner {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-left 10s linear infinite;
 -webkit-animation: scroll-left 10s linear infinite;
 animation: scroll-left 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}