


body {
	background-color: rgb(0,5,142);
	font-family: courier new;
	color: white;
}

a {
	color: white;
}

.boxes {
	background-color: white;
	border: solid red 5px;
	margin-bottom: 18px;
	color: rgb(0,5,142);
	
}


/*Naviagtion Bar*/
 ul {
       padding: 10px;
       background: rgba(255,0,0,0.5);
       text-align: right;
    }
    li {
       display: inline;
       padding: 0px 10px 0px 10px;
    }

 /*Body contents*/



 div{
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	color:white;
 }
img{
	background-image: auto;
	background-color: transparent;
}
 .class {
 	position: center;
 	left: -10;
 	right:0;
 	margin: auto;
 }

 .center form{
 	display: inline-block;
 	position: center;
 	border-left: 200;
 }
.grid-row{
	position: center;
}
 /* Form style needs to be developed for better UX */