
/* this is for the landing page */

/* this is for the map page */

/* this is for the about page */

body {
	background-color: rgb(0,5,142);
	font-family: courier new;
	color: white;
}

a {
	color: white;
}

.boxes {
	background-color: white;
	border: solid red 5px;
	margin-bottom: 18px;
	color: rgb(0,5,142);
}


/* this is for the contact us page */


