
/*Universal CSS*/
* {
	font-family: Courier ;
}

.menubar {
       padding: 10px 20px 10px 10px;
       background: rgb(220,36,31);
       text-align: right;
       font-size: 20px
}

.menubar nav a {
	color: white;
	text-decoration: none;
	padding-left: 20px
}

#social-buttons {
	text-align: right;
	padding: 0 auto;
}

.boxes {
	background-color: white;
	border: solid 5px;
	color: rgb(0,25,168);
	text-align: center;
	border-radius: 20px;
	opacity: 1;	
}

.boxes.start {
	padding-left: 40px
}

footer {
    background-color: rgb(0,25,168);
	line-height: 30px;
	position:fixed;
    width:100%;
    bottom:0px;
	color: white;
	text-align: right;
}

div {
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	color:white;
}

 /* Landing Page */


 .WhiteBackground {
  background: : white;
 }

 .landing-page-central-image {
	text-align: center;
	margin: 0 auto;
	padding:0;
}

.LandingPageText {
	margin: 0 auto;
	text-align: center;
	font-size: 53px;
	font-family: Courier;
	padding-bottom: 20px;
}

 /*Train*/
 .scroll-left {
 height: 60px;	
 overflow: hidden;
 position: relative;
}
.scroll-left .inner {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-left 10s linear infinite;
 -webkit-animation: scroll-left 10s linear infinite;
 animation: scroll-left 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}

 /* Map Page */

 #Zone1TubeMap {
 	border-radius: 50px;
 	border-color: blue;
 }

 #Map-Explanation {
 	text-align: center;
 	font-color: black;
 	font-size: 23px
 }

.start {
	display:none;
}

iframe {
	margin:0px ;
	padding-right: 60px;
}	

h3{
	font-weight: bold;
}

 /*About Page*/

 #aboutnav ul a {
color: black;
 }

#aboutnav ul{
	list-style-type: none;
}

#aboutnav {
	position: fixed;
}

#abouthover{
	text-align:right;
	padding-right: 50px;
	font-size: 50px
}
#aboutdetails {
	text-align: left;
	color: black;
}

.historyflex {
	 display: flex;
  align-items: center;
}

 #coffee-making {
 	max-width: 75%;
    height: auto;
    width: auto\9; /* ie8 */
 }

 .container.aboutpage{
 	width:90%;
 	margin: 0 auto;
 	padding-left:0 auto;
 }

 /*Contact Us Page*/
.contactustitle {
	text-align: center;
}

#contactustitlebox {
	background-color: rgba(0,0,0,0.5);
	text-align: center;
}

#contact-page-central-image {
	margin: 0;
	padding: 0;
	max-width:100%;
	 max-height:100%;
	 text-align: center
}

#form-submit {
	background-color: red;
	border: red;
}
/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

/* Tabled Portrait */
@media screen and (max-width: 460px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
